.divGraphique {
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 10%;
  text-align: center;
}

.divGraphique h1 {
  text-align: center;
  color: white;
  text-shadow: 5px 5px #463636;
  font-size: xxx-large;
  margin-bottom: 3%;
}

.divGraphique #intro {
  text-align: justify;
  color: white;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: large;
  padding: 1.2rem;
  box-shadow: 0px 0px 30px #fff;
  border-radius: 15px;
}

.divGraphique p {
  color: white;
  text-shadow: 2px 2px #463636;
  font-size: unset;
  margin-bottom: 0%;
}

.divGraphique #GraphiquePtPilotes {
  width: 100%;
  /* height: 100%; */
  margin-bottom: 3%;
  float: left;
}

.divGraphique .divExplicationPilotes img {
  width: 50%;
}

.divGraphique .Graphique {
  border-radius: 1em;
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
  height: 0%; /*la div s'adapte a la hautteur du graphique  */
  margin-bottom: 3%;
  width: 80%;
  float: left;
}

.divGraphique #divExplicationPointsMoyenPilotes {
  font-size: 0.7em;
}

.divGraphique .grapheEtExplicationPilotes {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10%;
}

.divGraphique .divExplicationPilotes {
  margin-left: 4%;
  height: 100%;
  width: 35%;
  float: right;
  box-shadow: 0px 0px 30px #fff;
  font-size: 0.7em;
  border-radius: 1em;
  margin-bottom: 1%;
  padding: 1%;
}

.divGraphique #divAnalysePointsPilotes {
  margin-bottom: 8%;
}
