.divGraphiqueEcurie {
  margin-bottom: 15%;
}

.divGraphiqueEcurie .grapheEtExplication {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.divGraphiqueEcurie .Graphique {
  width: 80%;
  float: left;
  overflow: hidden;
}

.divGraphiqueEcurie #GraphiqueWinsAllTime {
  width: 100%;
  margin-bottom: 2%;
}

/* pour le texte  */
.divGraphique p {
  color: white;
  text-shadow: 2px 2px #463636;
  text-align: justify;
}

.divGraphique h3 {
  color: white;
  text-align: justify;
  text-decoration: underline;
}

.divGraphiqueEcurie #texteExplicationChartRace {
  width: 100%;
  font-size: 1em;
  text-align: justify;
  margin-bottom: 3%;
}

.divGraphiqueEcurie .divExplication {
  margin-left: 4%;
  width: 20%;
  float: right;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 30px #fff;
  font-size: 0.8em;
  border-radius: 1em;
  padding: 2%;
}

.divGraphiqueEcurie .divAnalyseGraphiqueEcurie {
  margin-top: 2%;
  width: 80%;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 30px #fff;
  font-size: 0.9em;
  border-radius: 1em;
  padding: 2%;
}

.divGraphiqueEcurie .divAnalyseGraphiqueEcurie p {
  margin-bottom: 0%;
}

.divGraphiqueEcurie .divChoix {
  margin-right: 300px;
}

.divGraphique #divChoixRaceChart {
  margin-right: 0;
}

/*---------------Bouton racechart--------------------*/

#play-controls {
  max-width: 1000px;
  margin: 1em auto;
}

#play-pause-button {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid rgba(2, 117, 255, 1);
  border-radius: 25px;
  color: white;
  background-color: rgba(2, 117, 255, 1);
  transition: background-color 250ms;
}

#play-pause-button:hover {
  background-color: rgba(2, 117, 255, 0.5);
}

#play-range {
  transform: translateY(2.5px);
  width: calc(100% - 90px);
  background: #f8f8f8;
}

/*------------------Bouton choix---------------------*/

.divGraphique #divAnalysePointsPilotes #divChoix {
  width: 75%;
}

#labelChoix {
  text-align: center;
  color: white;
  text-shadow: 2px 2px #463636;
  margin-right: 5%;
}

#inputChoix {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin-right: 5px;
}

.buttonMettreAJour {
  background: #fff;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
  position: relative;
  bottom: -10%;
  margin-top: 1%;
}

.buttonMettreAJour::before {
  position: absolute;
  right: 100%;
  z-index: -1;
  transition: all 0.5s;
}

.buttonMettreAJour:hover {
  color: #fff;
  background-color: red;
}

.buttonMettreAJour:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}
