/*---------------- Style relatif au formulaire -------------*/

#formulaire {
  display: flex;
  flex-direction: column;
}

.divGraphique #formulaire {
  height: 100%;
  width: 40%;
  margin-bottom: 2%;
  position: relative;
  border-radius: 0.5em;
  padding-top: 10%;
}

.divGraphique #divFormulaire {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3),
    0 -8px 6px -6px rgba(0, 0, 0, 0.3), 8px 0 6px -6px rgba(0, 0, 0, 0.3),
    -8px 0 6px -6px rgba(0, 0, 0, 0.3), 0 0 16px rgba(255, 255, 255, 0.1);
}

.divGraphique #formulaire {
  float: left;
  width: 20%;
}

#formulaire::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 50%;
  border-right: 1px solid rgb(255, 255, 255);
  transform: translate(0, -50%);
}

@import "compass/css3";

.selecteur {
  border-radius: 0.5em;
  cursor: pointer;
  color: black;
  font-weight: 550;
  text-shadow: 2.5px 2px 2px rgba(1, 1, 1, 0.3);
}

.divGraphique .selecteur {
  padding-bottom: 3%;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 0 auto;
  width: 70%;
  padding: 10px;
}

.divGraphique #selecteurGrandPrix {
  width: 80%;
}

#submit {
  width: 50%;
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.divGraphique #divFormulaire h2 {
  font-size: 1.1em;
  color: white;
  line-height: 1.2;
  position: relative;
  top: 0;
  padding: 10px;
}

.divGraphique #divFormulaire hr {
  position: relative;
  bottom: 0;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 1px;
  background-color: white;
  border: none;
}

select,
.selecteur select + select {
  margin-bottom: 7%;
}

#boutonSubmit {
  height: 3em;
  font-weight: 550;
  border-radius: 0.5em;
}

.divGraphique #boutonSubmit {
  width: 60%;
  margin-bottom: 10px;
  color: black;
  text-shadow: 2.5px 2px 2px rgba(1, 1, 1, 0.3);
  justify-content: center;
  align-items: center;
}

/* ---------------------Simulation GP---------------- */

.intro-formulaire #divFormulaire {
  width: 30%;
  box-shadow: 0px 0px 30px #fff;
  border-radius: 1em;
}

.intro-formulaire #formulaire {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.intro-formulaire .selecteur {
  border: 0.2rem solid #e60012;
  padding: 2%;
}

.intro-formulaire #boutonSubmit {
  background-color: #e60012;
  border: 0.2rem solid #fff;
  color: white;
  text-shadow: 2.5px 2px 2px rgba(1, 1, 1, 0.3);
  padding: 2%;
  margin-bottom: 2%;
  cursor: pointer;
}

.intro-formulaire #divFormulaire h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 5%;
  padding: 2%;
  font-size: 1.2em;
  text-shadow: 2px 2px #9a9a9a;
}

.intro-formulaire select,
.intro-formulaire .selecteur select + select {
  margin-bottom: 3%;
}
