#divTest {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 400px;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

/*---------------Bouton racechart--------------------*/

#play-controls {
  max-width: 1000px;
  margin: 1em auto;
}

#play-pause-button {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid rgba(2, 117, 255, 1);
  border-radius: 25px;
  color: white;
  background-color: rgba(2, 117, 255, 1);
  transition: background-color 250ms;
}

#play-pause-button:hover {
  background-color: rgba(2, 117, 255, 0.5);
}

#play-range {
  transform: translateY(2.5px);
  width: calc(100% - 90px);
  background: #f8f8f8;
}
