.popup {
  background-color: #000000;
  opacity: 90%; /* pour voir le fond */
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  border-radius: 1em;
  padding: 30%;
  display: none;
  position: absolute;
  color: white;
  text-align: -webkit-center;
}

.titreAnalyse {
  text-shadow: rgba(100, 98, 98, 0.4) 5px 5px 2px;
  color: red;
  font-size: 1.3em;
}

/* #titreAnalysePosition h2 {
  color: red;
  font-size: 1.3em;
} */

/* media  */
@media screen and (max-width: 485px) {
  #popup_0 #titreAnalysePosition {
    font-size: 0.9em;
  }
  #popup_0 h2 {
    font-size: 0.9em;
  }
}
/*
@media screen and (max-width: 990px) {
  .popup {
    padding: 39%;
  }
}

@media screen and (max-width: 950px) {
  .popup {
    padding: 33%;
  }
} */

/* @media screen and (max-width: 720px) {
  .popup {
    padding: 37%;
  }
} */

/* @media screen and (max-width: 600px) {
  .popup {
    padding: 41%;
  }
} */
