#divFormulaireEtSlider #slider {
  height: 650px;
  width: 70%;
  float: right;
  box-shadow: 0px 0px 30px #fff;
  border-radius: 1em;
  margin-bottom: 3%;
  margin-right: 2%;
  margin-left: 1%;
}

#divFormulaireEtSlider #slider h2 {
  width: 80%;
  text-align: center;
}

#divFormulaireEtSlider .sliderNav {
  position: absolute;
}

#divFormulaireEtSlider .sliderNav__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  top: 50%;
  transition: transform 0.2s ease-in-out;
}

#divFormulaireEtSlider .sliderNav__button:hover {
  transform: scale(1.1);
}

#divFormulaireEtSlider .sliderNav__button svg {
  width: 50px;
  height: 50px;
}

#divFormulaireEtSlider #boutonDroite {
  right: 0px;
}
#divFormulaireEtSlider #boutonGauche {
  left: 0px;
}

#divFormulaireEtSlider .pointInterrogation {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#positionSlider #explicationComparaisonIntro {
  text-align: center;
  color: white;
}

#divFormulaireEtSlider .sliderNav__button svg path {
  stroke: #fff;
}

#divFormulaireEtSlider .sliderContent {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  border-radius: 1em;
}

#divFormulaireEtSlider .slider__item {
  height: 100%;
  min-width: 100%;
  padding: 3%;
  /* permet de centre les element verticalement et horizontalement */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#divFormulaireEtSlider .slider__item .divPointInterrogation {
  display: flex;
  justify-content: flex-end;
}

/* div point d'interrogation positionSlider  */
#divFormulaireEtSlider .slider__item #divPointInterrogation0 {
  height: 6%;
  width: 100%;
}

#divFormulaireEtSlider .slider__item #divPointInterrogation1 {
  height: 100%;
  flex-direction: column;
}

#divFormulaireEtSlider .slider__item #divPointInterrogation2 {
  height: 6%;
  width: 100%;
}

#divFormulaireEtSlider #timeSlider {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#divFormulaireEtSlider #timeSlider #tempsPilote {
  display: flex;
  flex-direction: row;
}

#timeSlider #imageGp {
  height: 36%;
  width: 100%;
  text-align: center; /*permet à la photo d'être centrée */
}

#divFormulaireEtSlider #timeSlider #imageGp img {
  height: 100%;
}

#divFormulaireEtSlider #timeSlider #tempsPilote .timePilote h2 {
  color: white;
  text-shadow: rgba(100, 98, 98, 0.4) 5px 5px 2px;
  padding-bottom: 2%;
  font-size: 1.6em;
}

#divFormulaireEtSlider #positionSlider {
  height: 100%;
}

#divFormulaireEtSlider #pneuSlider {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#divFormulaireEtSlider #pneuSlider .pneuPilote {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-bottom: 25%;
  text-align: center;
}

#divFormulaireEtSlider #timeSlider .timePilote {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

#divFormulaireEtSlider #timeSlider .timePilote #lapTime,
#divFormulaireEtSlider #timeSlider .timePilote .secteur {
  display: flex;
  flex-direction: row;
  width: 20%;
  margin-bottom: 10%;
  align-items: center;
}
