@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,800;1,300;1,400;1,500;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #111;
}

.overlay {
  width: 100%;
  height: 50vh;
  margin-bottom: 7em;
}

.overlay section {
  position: relative;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  height: 50vh;
  padding: 100px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background-color: #111;
  color: #fff;
  z-index: 2;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 3;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
  opacity: 0.4;
}

.logo {
  cursor: pointer;
  /*gérer la taille du logo*/
}

.banner-txt {
  position: relative;
  z-index: 3;
  width: 100%;
}

.banner-txt h2 {
  font-size: 7em;
  font-weight: 700;
  color: #fff;
  line-height: 2em;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 5%;
}

.banner-txt h3 {
  font-size: 1.5em;
  font-weight: 400;
  color: #fff;
  text-align: right;
  margin-right: 0;
  line-height: 1.5em;
}

.banner-txt p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
  text-align: right;
}

@media (max-width: 820px) {
  .banner-txt h2 {
    font-size: 2em;
    margin-bottom: 10%;
  }
  .banner-txt h3 {
    font-size: 0.7em;
  }
  #stats #map-et-infos-gp #divInfosFront h1 {
    font-size: 1.5em;
  }

  #stats #divMapEtInfos #map {
    width: 80%;
    height: 40vh;
    margin-bottom: 10%;
  }

  #stats #map-et-infos-gp #divInfos {
    width: 90%;
    height: 40vh;
  }

  #stats #divMapEtInfos #divInfos {
    width: 90%;
    height: 40vh;
  }

  #stats #map-et-infos-gp #divInfos h3 {
    padding-top: 0%;
  }

  #stats #divMapEtInfos #divInfos h3 {
    padding-top: 0%;
    width: 80%;
  }

  /*! ATTENTION gérer les cards quand on a un écran petit (telephone/tablette) car hover impossible -> active */
}

@media (max-width: 1200px) {
  #stats #divMapEtInfos #divInfosBack h1 {
    position: relative;
    top: -15%;
  }

  #stats #divMapEtInfos #divInfosBack p {
    position: relative;
    top: -15%;
    font-size: unset;
  }

  #stats #divMapEtInfos #divInfos #divInfosContent {
    width: 100%;
  }
}

@media (max-width: 1079px) {
  #stats #divMapEtInfos #divInfos #divInfosContent {
    width: 110%;
  }
}

@media (max-width: 991px) {
  .showcase {
    padding: 30px;
  }

  .banner-txt h3 {
    font-size: 1em;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .wrapper .card {
    margin: 6%;
    width: 40vh;
    height: 40vh;
  }

  .overlay {
    margin-bottom: 0%;
  }

  .presentation p {
    font-size: 0.7em;
  }

  #stats #map-et-infos-gp #map {
    width: 90%;
    height: 40vh;
    margin-bottom: 10%;
  }

  #stats #divMapEtInfos #map {
    width: 80%;
    height: 40vh;
    margin-bottom: 10%;
  }

  #stats #map-et-infos-gp #divInfos {
    width: 90%;
    height: 40vh;
  }

  #stats #divMapEtInfos #divInfos {
    width: 40%;
    height: 40vh;
  }

  #stats #map-et-infos-gp #divInfos h3 {
    padding-top: 0%;
  }

  #stats #divMapEtInfos #divInfos h3 {
    padding-top: 0%;
    width: 100%;
  }

  #stats #divMapEtInfos #divInfos #divInfosContent {
    padding-top: 0%;
    width: 80%;
    left: 30px;
  }

  #stats #divMapEtInfos .bouton {
    left: 45%;
    bottom: auto;
  }

  #stats #map-et-infos-gp .bouton {
    left: 43%;
    bottom: 48%;
  }

  #stats #map-et-infos-gp {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #divMapEtInfos {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  /*! ATTENTION gérer les cards quand on a un écran petit (telephone/tablette) car hover impossible -> active */
}

@media (max-width: 690px) {
  #stats #divMapEtInfos #divInfosBack h1 {
    font-size: unset;
  }

  #stats #divMapEtInfos #divInfosBack p {
    font-size: 12px;
  }

  #stats #map-et-infos-gp .bouton {
    left: 40%;
  }

  #stats #map-et-infos-gp #map {
    margin-bottom: 20%;
  }
}

@media (max-width: 500px) {
  #stats #divMapEtInfos .bouton {
    left: 35%;
    bottom: auto;
  }
}

@media (max-width: 390px) {
  #stats #divMapEtInfos #divInfos #divInfosContent {
    left: 30px;
    width: 80%;
  }

  #stats #map-et-infos-gp .bouton {
    left: 35%;
  }

  #stats #divMapEtInfos #map {
    margin-bottom: 20%;
  }

  #stats #divMapEtInfos #divInfos {
    width: 90%;
  }
}

.presentation {
  padding: 5%;
  font-size: 1.5em;
  font-weight: 400;
  color: #fff;
  text-align: justify;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1em;
  background-color: #111;
}

.card {
  width: 30vh;
  height: 50vh;
  border-radius: 15px;
  padding: 1.5rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.card:hover {
  transform: translateY(20px);
}

.card:hover:before {
  opacity: 1;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
  display: grid;
}

.card .info h1 {
  margin: 0px;
}

.card .info p {
  letter-spacing: 1px;
  font-size: 1em;
  margin-top: 8px;
}

.card .info button {
  margin-top: 10px;
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

.card .info button:hover {
  background: rgba(255, 0, 0, 0.572);
  color: white;
}

#stats h2 {
  font-size: 3em;
  font-weight: 700;
  color: rgba(255, 0, 0, 0.572);
  line-height: 2em;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  border-style: solid;
  width: fit-content;
  margin: auto;
  margin-bottom: 5rem;
}

#stats figure {
  width: fit-content;
  margin: auto;
}

#stats {
  background-color: #111;
  padding-top: 3rem;
}

#divId h3 {
  font-size: 1em;
  font-weight: 700;
  color: white;
  line-height: 1em;
  text-align: center;
  padding: 20px 20px 20px;
  width: fit-content;
  margin: auto;
  margin-bottom: 2%;
}

#stats #divId {
  margin-top: 20%;
  margin-left: 25%;
  width: 50%;
}

#stats #divId #CanvaId {
  background-color: mediumseagreen;
  border-radius: 1em;
  margin-bottom: 8%;
  padding: 50px;
}

#stats #divId #CanvaIdDroite {
  background-color: whitesmoke;
  border-radius: 1em;
  margin-bottom: 8%;
  padding: 50px;
}

#stats #divId #CanvaIdGauche {
  background-color: whitesmoke;
  border-radius: 1em;
  margin-bottom: 8%;
  padding: 50px;
}

#divMapEtInfos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

#divMapEtInfos #map {
  width: 50%;
  height: 55vh;
  margin-bottom: 1%;
}

#divMapEtInfos #divInfos h3 {
  padding-top: 50%;
}

#map-et-infos-gp .bouton {
  left: 18%;
  bottom: -15%;
}

.bouton {
  background: #fff;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
  position: absolute;
  bottom: -10%;
  left: 25%;
}

.bouton::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgba(255, 0, 0);
  /* background-image: linear-gradient(to left, #ebec10, #f73535); */
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.bouton:hover {
  color: #fff;
}

.bouton:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

#divMapEtInfos #divInfosContent {
  width: 89%;
}

#divMapEtInfos #divInfosBack {
  background-image: url("../data/pilotes/BackgroundBackPilotCard.jpeg");
  background-size: cover;
  background-position: center;
}

#divMapEtInfos #divInfosContent h1 {
  color: red;
  text-align: center;
  font-size: xx-large;
  text-shadow: none;
  position: relative;
  top: -15%;
}

#divMapEtInfos #divInfosContent p {
  font-size: large;
  color: black;
  line-height: none;
  position: relative;
  top: -10%;
}

:root {
  --gray: #34495e;
  --darkgray: #2c3e50;
}

.select {
  display: flex;
  width: 14em;
  height: 3em;
  border-radius: 0.25em;
  /* overflow: hidden; */
  flex: 1;
  padding: 0 3em;
  color: white;
  background-color: var(--darkgray);
  cursor: pointer;
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.select::after {
  content: "\25B6";
  /* float: left; */
  left: 20px;
  border-radius: 0.25em;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background-color: var(--gray);
  transition: 0.25s all ease;
  pointer-events: none;
  color: white;
}

/* Transition */
.select:hover::after {
  color: #ef2a02;
  transform: rotate(90deg);
}

canvas {
  display: block;
}

#map-et-infos-gp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}

#map {
  width: 45%;
  height: 40vh;
  border-radius: 1em;
  box-shadow: 0px 0px 30px #fff;
  padding: 5%;
}

#divInfos {
  height: 40vh;
  border-radius: 1em;
  perspective: 1000px;
  background-color: transparent;
}

#divMapEtInfos #divInfos {
  width: 25%;
  height: 55vh;
}

#map-et-infos-gp #divInfos {
  width: 45%;
}

#divInfos h3 {
  color: #fff;
  text-align: center;
  font-size: 1em;
  padding-top: 30%;
}

#divInfosContent {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

#divInfos:hover #divInfosContent {
  transform: rotateY(180deg);
}

#divInfosContent img {
  width: auto;
  height: auto;
  position: relative;
  margin: auto;
}

#map-et-infos-gp #divInfosContent img {
  max-width: 100%;
  max-height: 85%;
}

#divInfosContent h1 {
  font-size: 2em;
  color: #fff;
  text-align: center;
  border-style: none;
  width: 100%;
  max-height: 10%;
  height: auto;
  text-shadow: 5px 5px #111;
}

#divInfosContent p {
  letter-spacing: 1px;
  font-size: 1em;
  margin-top: 0px;
  color: #fff;
  line-height: 2em;
}

#divInfosFront,
#divInfosBack {
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

#map-et-infos-gp #divInfosFront,
#map-et-infos-gp #divInfosBack {
  background-image: url("../data/backgroundGP.png");
  background-size: cover;
  background-position: center;
}

#divInfosBack {
  transform: rotateY(180deg);
}

#stats #divMapEtInfosEcuries {
  display: flex;
  align-items: center;
}

#stats #divMapEcuries {
  width: 50%;
  height: 500px;
  border-radius: 1em;
  float: left;
  left: 15px;
}

#stats #divInfosEcuries {
  width: 700px;
  height: 500px;
  padding-top: 18px;
  border-radius: 1em;
  float: right;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

#stats #divBoutonDezoom {
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  position: absolute;
  bottom: center;
}

#divBoutonDeZoom:hover {
  cursor: pointer;
}

#divBoutonDeZoom:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

#divInfosEcuries h3 {
  color: white;
  text-align: center;
  font-size: 1em;
  padding-top: 30%;
  padding-left: 5%;
}

/* Tests Highchart */

#divTest {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 400px;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
