.divGraphique {
  margin-top: 20px;
}

#divAnalysePointsPilotes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grapheEtExplication {
  margin-top: 20px;
}

.Graphique {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ddd;
}

.divExplication {
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
}

.divExplication p {
  margin: 0;
  line-height: 1.5em;
}

.divExplication span {
  font-weight: bold;
}
